<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodeveloper.mappers.adminMapper">

	<!-- study게시글 조회 -->
	<select id="getBoard" resultType="AdminVO">
		select * from studyBoard order by stuNo desc
	</select>

	<!-- 불량 회원 조회 -->
	<select id="getBadMemberBoard" resultType="BadMemberBoardVO">
		select * from reportBoard order by reportNo desc
	</select>
	
	<!-- 강의추천게시판 조회 -->
	<select id="getLecBoard" resultType="AdminLectureVO">
	 	select * from lectureBoard order by lecNo desc
	</select>
	
	<!-- 알고리즘게시판 조회 -->
	<select id="getArgBoard" resultType="AdminArgBoardVO">
		select * from algBoard order by boardNo desc
	</select>
	
	<!-- 리뷰게시판 조회 -->
	<select id="getRevBoard" resultType="AdminReviewBoardVO">
		select * from companyrevboard order by revNo desc
	</select>


	<!-- 유저 전체 조회 -->
	<select id="selectAllUser" resultType="MemberVO">
		select userId, userName,
		email, careers, registerDate, status from member
	</select>

	<!-- 유저 아이디로 조회 -->
	<select id="selectUserId" resultType="MemberVO">
		select userId, userName,
		email, careers, registerDate, status from member where userId =
		#{userId}
	</select>

	<!-- 신고내역 조회 -->
	<select id="selectReport" resultType="ReportVO">
		select * from reportBoard
	</select>

	<!-- 신고내역 삭제 -->
	<delete id="deleteReport">
		delete * from reportBoard where writer = #{userId}
	</delete>


</mapper>