<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodeveloper.mappers.adminMapper">

<select id="getBoard" resultType="StudyBoardVO">
	select * from studyBoard order by stuNo desc
</select>

<select id="getBadMemberBoard" resultType="BadMemberBoardVO">
	select * from reportBoard order by reportNo desc
</select>

</mapper>