<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodeveloper.mappers.algorithmMapper">

	<!--  게시글조회 
	-->
	<select id="selectAlgBoard" resultType="com.dodeveloper.algorithm.vodto.AlgBoardDTO">
		select * from algBoard
	</select>
	
	<!--  boardNo 에 해당하는 algDetail 조회 -->
	<select id="selectAlgDetail" resultType="com.dodeveloper.algorithm.vodto.AlgDetailDTO">
		select * from algDetail where algBoardNo = #{boardNo}
	</select>
	
</mapper>