<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodeveloper.mappers.messageFileMapper">

	<insert id="insertIntoMessageFile"
		parameterType="MessageFileDTO">
		insert into messageFile(messageNo, uploadName, ext,
		originalName) values(#{messageNo}, #{uploadName}, #{ext},
		#{originalName});
	</insert>
</mapper>