<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodeveloper.mappers.messageBoxMapper">

	<select id="selectMessageBoxByReceiver" resultType="MessageBoxVO">
		select * from messageBox where receiver = #{receiver} order by messageBoxNo desc limit #{startPoint}, #{amountToShow};
	</select>

	<select id="selectMessageBoxCntByReceiver" resultType="Integer">
		select count(*) from messageBox where receiver = #{receiver} and isDeleted = "N";
	</select>

	<insert id="insertIntoMessageBox" parameterType="MessageBoxDTO">
		insert into messageBox(messageNo, receiver) values(#{messageNo} , #{receiver});
	</insert>
	
	<select id="selectMessageBoxByMessageNo" resultType="MessageBoxVO">
		select * from messageBox where messageNo = #{messageNo};
	</select>
	
	<update id="updateIsRead">
		update messageBox set isRead = 'Y' where isRead = 'N' and receiver = #{receiver};
	</update>
	
	<select id="countUnreadMessages" resultType="Integer">
		select count(isRead) from messageBox where receiver = #{receiver} and isRead = "N";
	</select>
</mapper>