<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodeveloper.mappers.messageBoxMapper">

	<select id="selectMessageBoxByReceiver" resultType="MessageBoxVO">
		select * from messageBox where receiver = #{receiver} order by messageBoxNo desc limit #{startPoint}, #{amountToShow};
	</select>

	<insert id="insertIntoMessageBox" parameterType="MessageBoxDTO">
		insert into messageBox(messageNo, receiver) values(#{messageNo} , #{receiver});
	</insert>
</mapper>