<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodeveloper.mappers.mypageMapper">

	<update id="setProfileImage">
		update member set prefix = #{prefix}, profileImage =
		#{profileImage} where userId = #{userId}
	</update>

	<select id="getProfileImage" resultType="ProfileVO">
		select prefix,
		profileImage from member where userId = #{userId}
	</select>

	<update id="removeProfileImage">
		update member set prefix = NULL, profileImage = NULL
		where userId = #{userId}
	</update>

	<!-- userId가 쓴 스터디 모임글 리스트를 select -->
	<select id="getMyStudyList"
		resultType="com.dodeveloper.study.vodto.StudyBoardVO">
		select * from studyBoard where stuWriter = #{userId}
		order
		by wrritenDate desc
	</select>

	<!-- userId가 쓴 스터디 모임글의 스터디 참여 리스트를 select -->
	<select id="getMyStudyApplyList"
		resultType="com.dodeveloper.studyApply.vodto.StudyApplyVO">
		select sa.* from studyApply sa
		inner join studyBoard sb
		on
		sa.stuNo = sb.stuNo
		where sb.stuWriter = #{userId}
	</select>

	<!-- userId가 참여신청한 스터디 모임글 리스트를 select -->
	<select id="getMyAppliedStudyList"
		resultType="com.dodeveloper.study.vodto.StudyBoardVO">
		select * from studyBoard sb
		inner join studyApply sa
		on
		sb.stuNo = sa.stuNo
		where sa.applyId = #{userId}
		order by wrritenDate
		desc
	</select>

	<!-- userId가 신청한 스터디 모임글의 참여 신청 리스트를 select -->
	<select id="getMyAppliedStudyApplyList"
		resultType="com.dodeveloper.studyApply.vodto.StudyApplyVO">
		select sa.* from studyApply sa
		inner join studyBoard sb
		on sa.stuNo = sb.stuNo
		where sa.applyId = #{userId}
	</select>

	<!-- userId가 참여중인 스터디 모임글 리스트 select -->
	<select id="getMyjoinedStudyList"
		resultType="com.dodeveloper.study.vodto.StudyBoardVO">
		select sb.* from studyBoard sb
		inner join studyApply sa
		on
		sb.stuNo = sa.stuNo
		where sa.applyId = #{userId}
		and sa.status='Y'
		order
		by wrritenDate
		desc
	</select>

	<!-- userId가 참여중인 스터디 모임글의 참여 신청 리스트 select -->
	<select id="getMyjoinedStudyApplyList"
		resultType="com.dodeveloper.studyApply.vodto.StudyApplyVO">
		select sa.* from studyApply sa
		inner join studyBoard sb
		on sa.stuNo = sb.stuNo
		where sa.applyId = #{userId}
		and sa.status='Y'
		order by applyDate desc
	</select>
	
	<!-- a유저가 강의 추천 게시판에 작성한 게시글 select -->
	<select id="getMyPageLecBoardList"
	resultType="com.dodeveloper.lecture.vodto.LectureBoardVO">
		select * from lectureBoard where lecWriter = #{userId} and bType = 1 order by lecPostDate desc
	</select>

</mapper>