<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dodeveloper.mappers.studyMapper">

	<select id="selectAllList"
		resultType="com.dodeveloper.study.vodto.StudyBoardVO">
		SELECT * FROM studyBoard order by wrritenDate desc
		limit #{startRowIndex}, #{viewPostCntPerPage}
	</select>

	<select id="selectAllstudyStack"
		resultType="com.dodeveloper.study.vodto.StuStackDTO">
		select * from stack s
		inner join stuStack t
		on s.stackNo = t.chooseStack
		where t.stuBoardNo = #{stuBoardNo}
	</select>
	
	<select id="selectNextStuNo" resultType="int">
		select stuNo from studyBoard
		order by wrritenDate desc limit 0, 1
	</select>
	
	<insert id="insertNewStack">
		insert into stuStack(stuBoardNo, chooseStack) values(#{stuBoardNo}, #{chooseStack})
	</insert>
	
	<insert id="insertNewStudy">
		insert into studyBoard(stuWriter, stuTitle, stuContent, stuLoc, stuX, stuY, stuDate, stuPers, contactLink, endDate) 
		values(#{stuWriter}, #{stuTitle}, #{stuContent}, #{stuLoc}, #{stuX}, #{stuY}, #{stuDate}, #{stuPers}, #{contactLink}, #{endDate})
	</insert>
	
	<select id="selectStudyByStuNo" resultType="com.dodeveloper.study.vodto.StudyBoardVO">
		SELECT * FROM studyBoard where stuNo = #{stuNo}
	</select>
	
	<select id="selectAllListWithsDTO" resultType="com.dodeveloper.study.vodto.StudyBoardVO">
		select * from studyBoard
		<choose>
			<when test="searchType == 'title'">
				where stuTitle like #{searchValue}
			</when>
			<when test="searchType == 'writer'">
				where stuWriter like #{searchValue}
			</when>
			<otherwise>
				where stuContent like #{searchValue}
			</otherwise>
		</choose>
		order by wrritenDate desc limit #{startRowIndex}, #{viewPostCntPerPage}
	</select>
	
	<select id="selectAllStack" resultType="com.dodeveloper.study.vodto.StackVO">
		SELECT * FROM stack
	</select>
	
	<delete id="deleteStudyBoard">
		delete from studyBoard where stuNo = #{stuNo}
	</delete>
	
	<update id="modifyStudy">
		update studyBoard set 
		stuTitle = #{stuTitle}, stuContent = #{stuContent}, stuLoc = #{stuLoc}, stuX = #{stuX}, stuY = #{stuY}, 
		stuDate = #{stuDate}, stuPers = #{stuPers}, contactLink = #{contactLink}, endDate = #{endDate} 
		where stuNo = #{stuNo}
	</update>
	
	<update id="modifyStack">
		update stuStack set chooseStack = #{chooseStack} where stuStackNo = #{stuStackNo}
	</update>
	
	<delete id="deleteStudyStack">
		delete from stuStack where stuStackNo = #{stuStackNo}
	</delete>
	
	<select id="selectTotalBoardCnt" resultType="int">
		select count(*) from studyBoard
	</select>
	
	<select id="selectTotalBoardCntWithSdto" resultType="int">
		select count(*) from studyBoard
		<choose>
			<when test="searchType == 'title'">
				where stuTitle like #{searchValue}
			</when>
			<when test="searchType == 'writer'">
				where stuWriter like #{searchValue}
			</when>
			<otherwise>
				where stuContent like #{searchValue}
			</otherwise>
		</choose>
	</select>
	
	

</mapper>