<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="MemberVO"
			type="com.dodeveloper.member.vo.MemberVO" />
		<typeAlias alias="ProfileVO"
			type="com.dodeveloper.mypage.vo.ProfileVO" />
		<typeAlias alias="MessageVO"
			type="com.dodeveloper.message.vodto.MessageVO" />
		<typeAlias alias="MessageDTO"
			type="com.dodeveloper.message.vodto.MessageDTO" />
		<typeAlias alias="MessageBoxVO"
			type="com.dodeveloper.message.vodto.MessageBoxVO" />
		<typeAlias alias="MessageBoxDTO"

			type="com.dodeveloper.message.vodto.MessageBoxDTO" />
		<typeAlias alias="AdminVO"
			type="com.dodeveloper.admin.vo.AdminVO" />

		<typeAlias alias="BadMemberBoardVO"
			type="com.dodeveloper.admin.vo.BadMemberBoardVO" />

		<typeAlias alias="AdminLectureVO"
			type="com.dodeveloper.admin.vo.AdminLectureVO" />

		<typeAlias alias="AdminArgBoardVO"
			type="com.dodeveloper.admin.vo.AdminArgBoardVO" />

		<typeAlias alias="AdminReviewBoardVO"
			type="com.dodeveloper.admin.vo.AdminReviewBoardVO" />

		<typeAlias alias="NoticeDTO"
			type="com.dodeveloper.admin.dto.NoticeDTO" />

		<typeAlias alias="ReportVO"
			type="com.dodeveloper.admin.vo.ReportVO" />

		<typeAlias alias="QnaBoardVO"
			type="com.dodeveloper.admin.vo.QnaBoardVO" />

		<typeAlias alias="QnaReplyVO"
			type="com.dodeveloper.admin.vo.QnaReplyVO" />



		<typeAlias alias="MessageFileDTO"
			type="com.dodeveloper.message.vodto.MessageFileDTO" />

		<typeAlias alias="LectureBoardVO"
			type="com.dodeveloper.lecture.vodto.LectureBoardVO" />
		<typeAlias alias="LectureBoardDTO"
			type="com.dodeveloper.lecture.vodto.LectureBoardDTO" />
		<typeAlias alias="LectureSearchDTO"
			type="com.dodeveloper.lecture.vodto.LectureSearchDTO" />

		<typeAlias alias="ReportVO"
			type="com.dodeveloper.admin.vo.ReportVO" />

		<typeAlias alias="UserDTO"
			type="com.dodeveloper.admin.dto.UserDTO" />


	</typeAliases>
</configuration>