<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="MemberVO"
			type="com.dodeveloper.member.vo.MemberVO" />
		<typeAlias alias="ProfileVO"
			type="com.dodeveloper.mypage.vo.ProfileVO" />
		<typeAlias alias="MessageVO"
			type="com.dodeveloper.message.vodto.MessageVO" />		
		<typeAlias alias="MessageDTO"
			type="com.dodeveloper.message.vodto.MessageDTO" />		
		<typeAlias alias="MessageBoxVO"
			type="com.dodeveloper.message.vodto.MessageBoxVO" />		
		<typeAlias alias="MessageBoxDTO"
			type="com.dodeveloper.message.vodto.MessageBoxDTO" />
		<typeAlias alias="StudyBoardVO"
			type="com.dodeveloper.study.vodto.StudyBoardVO" />
	</typeAliases>
</configuration>