.form-login * {
	font-size: 15px;
}

.bi-person-circle {
	font-size: 4em;
	color: #999999;
}

input::-webkit-input-placeholder {
	color: #dddfe1;
}

input::-moz-placeholder {
	color: #dddfe1 !important;
}

input::-ms-placeholder {
	color: #dddfe1 !important;
}

input::placeholder {
	color: #dddfe1 !important;
}

.btn-register,
.btn-register:focus {
  color: #ffffff;
  background: #e84545;
  font-size: 14px;
  padding: 8px 26px;
  margin: 0;
  border-radius: 4px;
  transition: 0.3s;
}

.btn-register:hover,
.btn-register:focus:hover {
  color: #ffffff;
  background: rgba(232, 69, 69, 0.85);
}

.btn-logout {
	color: #666666;
}