.form_chagePwd * {
	font-size: 15px;
}

.bi-shield-lock {
	font-size: 4em;
	color: #999999;
}

input::-webkit-input-placeholder {
	color: #dddfe1;
}

input::-moz-placeholder {
	color: #dddfe1 !important;
}

input::-ms-placeholder {
	color: #dddfe1 !important;
}

input::placeholder {
	color: #dddfe1 !important;
}

.label-group {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.label-group label {
	font-size: 14px;
}

.label-group span {
	font-size: 14px;
	font-weight: bold;
	color: #4285f4;
	text-align: right;
}