@charset "UTF-8";

/* 모든 container 태그 스타일 */
.container {
	width: 1700px;
	margin: 0 auto;
}

/* section 스타일 */
section.notice {
	padding: 80px 0;
}

/* 상단에 h3태그 스타일 */
.page-title {
	margin-bottom: 20px;
}

.page-title h3 {
	font-size: 28px;
	color: #ffffff;
	font-weight: 400;
	text-align: center;
}

/* board seach area 스타일 */
#board-search .search-window {
	padding: 10px 0;
	margin-right: 200px;
}

#board-search .search-window .search-wrap {
	position: relative;
	/*   padding-right: 124px; */
	margin: 0 auto;
	width: 80%;
	max-width: 564px;
}

.searchbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/* 검색 조건 버튼 스타일 */
.input-group select {
    background-color: #555 !important; /* 셀렉트 박스 배경색 회색으로 설정 */
    color: #fff !important; /* 텍스트 색상을 밝은색으로 설정 */
    border: 1px solid #555 !important; /* 테두리도 동일한 색상으로 설정 */
    padding: 7px !important;
    font-size: 16px !important;
}

.input-group select:hover {
    background-color: #444; /* 마우스 호버 시 배경 색상 */
}

/* 검색 버튼 스타일 */
#board-search .search-window .search-wrap .btn {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 110px;
	padding: 0;
	font-size: 16px;
	padding: 0;
}

/* 검색어 입력 칸 스타일 */
#board-search .search-window .search-wrap input {
	height: 40px; /* 버튼 높이 조절 */
	width: 500px;
	font-size: 14px;
	padding: 7px 14px;
	border: 1px solid #ccc;
	font-size: 14px;
}

/* 검색 필터 & 글 작성 스타일 */
.button-container {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
}
/* 검색 필터 버튼 스타일 */
.button-container .filters {
	margin: 10px 0;
	margin-left: 10px;
	width: 110px;
	font-size: 16px;
	padding: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: #fff;
}

.dropdown-toggle.filters {
    background-color: #555;
    color: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 7px 14px;
    font-size: 16px;
}

.dropdown-toggle.filters:focus {
    outline: none;
    border-color: #fff;
}

.dropdown-menu {
    background-color: #555;
}

.dropdown-menu a.dropdown-item:hover,
.dropdown-menu a.dropdown-item:focus {
    background-color: #444; /* 마우스 호버 또는 포커스 시 더 짙은 회색 */
}


/* 글 작성 버튼 스타일 */
.button-container .writeren {
	margin: 10px 0;
	margin-left: 10px;
	width: 110px;
	font-size: 16px;
	padding: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* board list area 스타일 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 게시글 전체 보는 표 스타일 */
.board-table {
	font-size: 13px;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.board-table th {
	text-align: center;
}

.board-table th, .board-table td {
	padding: 14px 0;
}

.board-table tbody td {
	border-top: 1px solid #e7e7e7;
	text-align: center;
}

.board-table tbody th {
	padding-left: 28px;
	padding-right: 14px;
	border-top: 1px solid #e7e7e7;
	text-align: left;
}

/* 버튼들 스타일 */
.btn {
	display: inline-block;
	padding: 0 30px;
	font-size: 15px;
	font-weight: 400;
	background: transparent;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-dark {
	background: #555;
	color: #fff;
}

/* 페이징 스타일 */
.pagination {
	display: flex;
	justify-content: center; /* 가운데 정렬 */
	list-style: none;
	padding: 0;
}

.page-item {
	margin: 0 5px;
}

.page-link {
	color: #ffffff; /* 페이지 번호 텍스트 색상 */
	text-decoration: none;
	padding: 5px 10px;
	border: 1px solid #555;
	background-color: #555; /* 페이지 번호 배경색 */
}

.page-item.active .page-link {
	background-color: #555; /* 활성 페이지 번호 배경색 */
	color: #555; /* 활성 페이지 번호 텍스트 색상 */
}

.page-item.disabled .page-link {
	background-color: #555; /* 비활성 페이지 번호 배경색 */
	color: #888; /* 비활성 페이지 번호 텍스트 색상 */
}